<h2><%= @question.title  %></h2>
<div>
  <ul class='question_details'>
    <li class='question'>question :<%= @question.body %></li>
    <li class='user'>posted by User :<%= @question.user.username %></li>
  </ul>
  <div>
    <% if logged_in? && current_user == @question.user %>
    <li>
       <a href ="/questions/<%= @question.id %>/edit"> Edit Question</a>
    </li>
    <% end %>
  </div>

  <div class="question-comment">
    <ul>
      <% @question.comments.each do |comment| %>
      <li class="comments"><%= comment.text %></li>
      <% end %>
    </ul>
    <a href="/questions/<%= @question.id %>/comments/new">add comment</a>
    <div class="comment-form"><%= erb :'/comments/_comment', locals: { commentable: @commentable } %></div>
  </div>

  <div class="question-answer">
    <ul>
      <% @question.answers.each do |answer| %>
      <li class="answers"><%= answer.content %></li>
      <% end %>
    </ul>
    <a href="/questions/<%= @question.id %>/answers/new">answer this question</a>
    <div class="answer-form"><%= erb :'/answers/_answer', locals: { commentable: @commentable } %></div>
  </div>
</div>
