<div>
  <%if logged_in? %>
      <a class="up_comment_question_count"
      href="/questions/<%= @commentable.id %>/comments/<%= comment.id %>/votes/up"><span class="glyphicon glyphicon-chevron-up"></span></a>
      <a class="down_comment_question_count"
        href="/questions/<%= @commentable.id %>/comments/<%= comment.id %>/votes/down"><span class="glyphicon glyphicon-chevron-down"></span></a>
  <% else %>
      <a class="up_comment_question_count"
        href="#"><span class="glyphicon glyphicon-chevron-up"></span>
      </a>
      <a class="down_comment_question_count"
        href="#"><span class="glyphicon glyphicon-chevron-down"></span>
      </a>

  <% end %>
  <span >
      <%= total_votes(comment) %>
  </span>
</div>
<li class="comments"><%= comment.text %> - <%= comment.commenter.username %></li>
