<li class="answers">
  <div>
    <%if logged_in? %>
        <a class="up_answer_count"
          href="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes/up"><span class="glyphicon glyphicon-chevron-up"></span></a>
        <a class="down_answer_count"
            href="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes/down"><span class="glyphicon glyphicon-chevron-down"></span>
          </a>
    <% else %>
        <a class="up_answer_count" href="#">
          <span class="glyphicon glyphicon-chevron-up"></span></a>
        <a class="down_answer_count"
          href="#"><span class="glyphicon glyphicon-chevron-down"></span></a>

    <% end %>
    <span >
        <%= total_votes(answer) %>
    </span>
  </div>
  <%= answer.content %> - <%= answer.responder.username %>
  <a class = "comment_answer_link" href="/answers/<%= answer.id %>/comments/new">comment this answer</a>
</li>
<ul id="answer_comments_<%= answer.id %>" class="answer_comments">
  <% answer.comments.each do |comment| %>
    <%= erb :'comments/_show_answer_comment', layout: false, locals: {comment: comment }%>
  <% end %>
</ul>
