<li class="answers">
<%if answer.favorite %>
  <div class="favorite">
      <img class="img_fav" src="../img/check_mark.jpeg" alt="" />
  </div>
 <% end %>
 <% if logged_in? && current_user == @question.user %>
  <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>/favorite" method="post">
    <input type="hidden" name="_method" value="put">
    <input type="submit" value="Favorite">
</form>
 <% end %>
  <div class="question_title">
    <%if logged_in? %>
        <div class="comment_points">
          <a class="up_answer_count" href="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes/up"><span class="glyphicon glyphicon-chevron-up"></span></a>
          <span class='count'> <%= total_votes(answer) %> </span>
          <a class="down_answer_count" href="/questions/<%= @question.id %>/answers/<%= answer.id %>/votes/down"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
    <% else %>
        <div class="comment_points">
          <a class="up_answer_count" href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
          <span class='count'> <%= total_votes(answer) %> </span>
          <a class="down_answer_count" href="#"><span class="glyphicon glyphicon-chevron-down"></span></a>
        </div>
    <% end %>
    <span class="answer_text">  <%= answer.content %> - <%= answer.responder.username %> <a class = "comment_answer_link" href="/answers/<%= answer.id %>/comments/new">comment this answer</a></span>
  </div>
</li>
<ul id="answer_comments_<%= answer.id %>" class="answer_comments">
  <% answer.comments.each do |comment| %>
    <%= erb :'comments/_show_answer_comment', layout: false, locals: {comment: comment }%>
  <% end %>
</ul>
